body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style-type: none; 
    justify-content: center;
    align-content: center;
}

.image-grid li {
    text-align: center;
    /*width: 220px; */
    width: calc((100% / 3) - (40px / 3)); 
    min-width: 250px; /* Prevents them from getting too skinny on small screens */
    max-width: 350px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.image-grid img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    object-position: top;
    border-radius: 4px;
    display: block;
    margin-bottom: 8px;
    align-content: center;
}

.image-grid p {
    font-size: 0.9rem;
    color: #555;
    word-wrap: break-word;
    margin: 0;
} 